<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new representative</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Add a new representative</h1>

    <form action="#" th:action="@{/representatives/saveRepresentative}" th:object ="${representative}"  method="POST">
        <h7>name</h7>
        <input type="text" th:field="*{name}" placeholder="name" class="form-control mb-4 col-4" required>
        <h7>email</h7>
        <input type="email" th:field="*{email}" placeholder="email" class="form-control mb-4 col-4" required>
        <h7>phone</h7>
        <input type="text" th:field="*{phone}"placeholder="phone" class="form-control mb-4 col-4" required>

        <button type="submit" class="btn btn-info col-2">Save Representative</button>
    </form>
    <a th:href = "@{/representatives}"> Go Back</a>

</div>
</body>
</html>