<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Client Info</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Update Information</h1>

    <form action="#" th:action="@{/clients/saveClient}" th:object ="${client}"  method="POST">
        <input type="hidden" th:field="*{id}"/>
        <h7>name</h7>
        <input type="text" th:field="*{name}"  class="form-control mb-4 col-4" required>
        <h7>address</h7>
        <input type="text" th:field="*{address}"  class="form-control mb-4 col-4" required>
        <h7>your gmail or abv email</h7>
        <input type="email" th:field="*{email}" placeholder="email" pattern=".+@gmail.com|.+@abv.bg" class="form-control mb-4 col-4" required>

        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>
    <a th:href = "@{/clients}"> Go Back</a>

</div>
</body>
</html>