<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Representative</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Update Representative's information</h1>

    <form action="#" th:action="@{/representatives/updateRepresentative}" th:object ="${representative}"  method="POST">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{user.id}">

        <h7>username</h7>
        <input type="text" th:field="*{username}" placeholder="new username(not required)" class="form-control mb-4 col-4" >
        <input type="hidden" th:field="*{user.id}">
        <h7>name</h7>
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4" required>
        <h7>password</h7>
        <input type="password" th:field="*{password}" placeholder="new password(not required)" class="form-control mb-4 col-4" >
        <h7>your gmail or abv email</h7><div th:if="${email}"><p style="color:red">Email Already in Use</p></div>
        <input type="email" th:field="*{email}" placeholder="email" pattern=".+@gmail.com|.+@abv.bg" class="form-control mb-4 col-4" required>
        <h7>phone</h7><div th:if="${phone}"><p style="color:red">Phone Number Already in Use</p></div>
        <small>Format: 012-345-6789</small>
        <input type="tel"  th:field="*{phone}"placeholder="phone number" pattern="^[0][0-9]{2}-[0-9]{3}-[0-9]{4}" maxlength="12" class="form-control mb-4 col-4" required>


        <button type="submit" class="btn btn-info col-2">Update Information</button>
    </form>

    <hr>
    <a th:href = "@{/representatives}"> Back to Representatives List </a>
</div>
</body>
</html>